.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0d1d2c;
  background-color: #f6f6f6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  padding-top: 30px;
}

.container {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.resultSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  outline: none;
  padding: 5px 10px;
  color: #ede9fe;
  background-color: #6d28d9;
  border: 1px solid #6d28d9;
  border-radius: 5px;
}
.btn-cancel {
  color: #dc2626;
  background-color: #fff;
  border: 1px solid #dc2626;
}
.box {
  width: 135px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
}
.expense {
  font-weight: bold;
  color: red;
}
.income {
  font-weight: bold;
  color: green;
}
form {
  display: flex;
  flex-direction: column;
  min-height: 120px;
  justify-content: space-between;
  margin-bottom: 25px;
}
form .btn {
  /* align-self: start; */
}
input {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 8px;
}
.radioBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}
.radioBox :nth-last-child(2) {
  margin-left: 10px;
}
.radioBox label {
  margin-left: 3px;
}
.transaction {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #f4f4f5;
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
  font-size: 14px;
  border-right: 4px solid green;
}
input.search {
  width: 100%;
  margin-top: 5px;
  padding: 8px 10px;
}
